@charset "UTF-8";

@import url("about\ us-common.css");

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100&family=Nunito+Sans:wght@200;300;400&family=Oswald:wght@600&family=Playfair+Display:wght@400;600&display=swap");

main {
    text-align: center;
}
main > div {
    width: 844px;
    height: 706px;
    margin: 0 auto;
}
main > div > p:nth-child(3) {
    font-family: "Heebo", sans-serif;
    color: #97979754;
    text-shadow: -5px -3px 2.5px #979797b6;
}
main > div > p:nth-child(1) {
    font-size: 50px;
    margin: 150px 0 50px 0;
}
main > div > p:nth-child(2) {
    font-size: 60px;
    padding-bottom: 80px;
}
main > div > p:nth-child(3) {
    font-size: 80px;
}

main > nav::after {
    border-bottom: solid 1px #9a9a9ac9;
    display: block;
    content: "";
    margin-top: -4%;
}
main > nav > div {
}
main > nav > div > a {
    display: inline-block;
    color: black;
    padding: 100px 30px;
}

.se-1 > h2 {
    font-size: 25px;
}

.se-1 > h2 + .box-1 {
    border: 1px solid black;
    border-radius: 50px;
    width: 1220px;
    height: 860px;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
}

.se-1 > .box-2 {
    width: 1204px;
    height: 694px;
    border: 1px solid black;
    border-radius: 50px;
    margin: 80px auto 0 auto;
}

.se-1::after {
    border-bottom: solid 1px #9a9a9ac9;
    display: block;
    content: "";
    margin: 10% auto;
}
.se-1 > h2 {
}
.se-1 > ul {
}
.se-1 > ul > li {
}

.se-2 {
    width: 1500px;
    margin: 0 auto;
}

.se-2 > h2 {
    font-size: 60px;
}
.ceo-0 {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;

    margin-left: -5%;
}
.ceo-1 {
    width: 500px;
    text-align: right;
    line-height: 30px;
}
.ceo-1 > p {
}
.ceo-1 > p:nth-child(1) {
}
.ceo-1 > p:nth-child(2) {
}

.ceo-2 {
}
.ceo-2 > p {
}
.ceo-2 > p > img {
}
.ceo-3 {
    width: 400px;
    text-align: left;
    line-height: 30px;
}
.ceo-3 > p {
    padding: 3% 0;
}

.se-3 {
    width: 1000px;
    margin: 0 auto;
    
}
.se-3 > h2 {
    font-size: 40px;
    text-align: left;
    text-indent: 2%;
}
.se-3 > h2::after {
    border-bottom: solid 3px #000000c9;
    display: block;
    content: "";
    margin: 1% auto;
}
.se-3 > ul {
    /* writing-mode: vertical-lr; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.se-3 > ul > li {
    font-size: 35px;
    font-weight: 700;
}
.se-3 > ul > li > img {
}



.se-3>ul>li img{
    padding: 90px 90px;
 
}

.se-3>ul>li::after{
    content: '';
    border-bottom: 3px solid black;
    display: block;
 padding-top: 300px;

}